html, body {
	width: 100vw;
	height: 100vh;
	/*amongus = sus;*/
}

body {
	margin: 0;
	background-image: linear-gradient(#e8e8e3, #e8e8e3 35.8%, #cdc9c4 35.8%, #e8e8e3 60%);
	background-repeat: repeat-x;
	background-color: #e8e8e3;
	width: 100vw;
	height: 100vh;
}

#bruce #banner {
	width: 51.7vw;	 
	margin: 74px auto; 
}

#bruce #banner img {
	height: 9vh;
}

#dateandtime {
	position: fixed;
	top: 0px;
	color: white;
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
	background-color: black;
	box-shadow: 0 0 10px black;
	width: 100%;
}
.dateandtimeclass {
	margin: 13px auto;
	width: 54%;
}
